div.social-container {
    position: absolute;
    top: 10px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 50%;
    z-index: 1;
    -webkit-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    span {
        display: none;
    }
    a {
        display:flex;
        justify-content: center;
        align-items: center;
        margin: 7.5px;
        border: 2px solid $white;
        border-radius: 50%;
        &:hover {
            animation: pulse 1.5s infinite;
        }
        svg {
            padding:10px;
            width:40px;
            height:40px;
            fill: $white;
        }
    }
}

@media (min-width:400px) {
}

@media (min-width:450px) {
}

@media (min-width:500px) {
}

@media (min-width:675px) {
}

@media (min-width:769px) {
    div.social-container {
        position: fixed;
        width:60px;
        top: 35px;
        flex-direction: column;
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        font-size:.7rem;

        span {
            display:flex;
            -webkit-transform: matrix(0, 1, -1, 0, 0, 0);
            -ms-transform: matrix(0, 1, -1, 0, 0, 0);
            transform: matrix(0, 1, -1, 0, 0, 0);
            margin:7.5px;
            color: $white;
            font-size:16px;
            font-weight:900;
            letter-spacing: 1.5px;
        }
        a.facebook {
            margin-top:20px;
        }

        a {
            svg {
                padding:7.5px;
                width:30px;
                height:30px;
            }
        }
    }
}

@media (min-width:1025px) {
}

@media (min-width:1350px) {
    div.social-container {
        width: 140px;
        top: 50px;
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        font-size:.7rem;
        span {
            margin:12.5px;
        }
        a {
            svg {
                padding:10px;
                width:40px;
                height:40px;
            }
        }
    }
}

@media (min-width:1600px) {
}