.bio-overlay {
    position: fixed;
    width:0%;
    height:100%;
    z-index: 3;
    .bio-container {
        display: none;
        .bio {
            display:none;
        }
    }
}

.bio-overlay.active { 
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: fade-out($color: $black, $amount: .45);
    .bio-container {
        width: 95%;
        height:95%;
        margin:auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .bio.active {
            width: 100%;
            height: 100%;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .bio-image {
                padding-bottom:95%;
                width:100%;
                background-size:cover;
                background-position: center;
            }
            .bio-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: $black2;
                padding:10px;
                &:hover button.close-bio {
                    transform: scale(1.05);
                }
                .bio-name {
                    font-family: $headerFont;
                    font-size: 1.5rem;
                    line-height: 1;
                    font-weight:600;
                    opacity: 1;
                    padding: 0px;
                    margin: 20px 0px;
                }
                .bio-description {
                    font-size: 16px;
                    line-height: 1.2;
                    padding: 0px;
                    margin: 0px;
                }
                button.close-bio {
                    padding:20px 60px;
                    border-radius: 35px;
                    background-color: $black3;
                    color: $white;
                    font-size: .6rem;
                    letter-spacing: 2px;
                    font-weight: 600;
                    width:fit-content;
                    margin: 20px auto;
                    border:none;
                    outline:none;
                    box-shadow: 2px 2px 4px fade-out($color: $black, $amount: .8);
                    transition: transform .3s ease-in-out;
                    &:hover {
                        animation: pulse 1.5s infinite;
                    }
                }
            }
        }
    }
}

.no-scroll {
    overflow-y: hidden;
}

.blur-filter {
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
}

@media (max-height: 800px) {
    .bio-overlay.active { 
        .bio-container {
            .bio.active {
                .bio-image {
                    display: none;
                }
                .bio-info {
                    border-radius: 10px 10px 10px 10px;
                }
            }
        }
    } 
}

@media (min-height: 801px) {

    .bio-overlay.active { 
        .bio-container {
            .bio.active {
                .bio-image {
                    border-radius: 10px 10px 0px 0px;
                }
    
                .bio-info {
                    border-radius: 0px 0px 10px 10px;
                }
            }
        }
    } 
}


@media (min-width: 400px) {
}

@media (min-width: 500px) {
    .bio-overlay.active { 
        .bio-container {
            max-width:475px;
        }
    }
}

@media (min-width: 769px) {
    .bio-overlay.active { 
        .bio-container {
            width: 90%;
            height:90%;
            .bio.active {
                flex-direction: row;
                .bio-info { 
                    padding:20px 40px;
                }
            }
        }
    }
}

@media (min-width: 769px) and (min-height:801px) {
    .bio-overlay.active { 
        .bio-container {
            max-width:unset;
            .bio.active {
                flex-direction: row;
                .bio-image {
                    padding-bottom: 0;
                    padding-right: 50%;
                    height:100%;
                    width:0;
                    border-radius: 10px 0px 0px 10px;
                }
                .bio-info { 
                    height:100%;
                    border-radius: 0px 10px 10px 0px;
                }
            }
        }
    }
}

@media (min-width: 769px) and (min-height:1000px) {
    .bio-overlay.active { 
        .bio-container {
            max-height:800px;
            .bio.active {
                .bio-info { 
                    .bio-name {
                        font-size: 1.75rem;
                    }
                    .bio-description {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1025px) {

    .bio-overlay.active { 
        .bio-container {
            .bio.active {
                .bio-info { 
                    .bio-name {
                        font-size: 1.75rem;
                        margin: 40px auto;
                    }
                    .bio-description {
                        font-size: 20px;
                        line-height: 1.4;
                    }
                    button.close-bio {
                        font-size: .75rem;
                        margin: 40px auto;
                    }
                }
            }
        }
    }

}

@media (min-width: 1350px) {
    .bio-overlay.active { 
        .bio-container {
            width: 75%;
            height:75%;
        }
    }
}

@media (min-width: 1600px) {
    .bio-overlay.active { 
        .bio-container {
            width: 65%;
            height:65%;
        }
    }
}