#gallery {
    position: relative;
    .customNavigation {
        justify-content: center;
        z-index:2;
    }

    .gallery-image {
        padding-bottom: 56.25%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .gallery-image,
    .owl-item .video-iframe {
        width: 100%;
    }

    .item-video {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

}


// MEDIA QUERIES 

@media (min-width:400px) {
}

@media (min-width:450px) {
}

@media (min-width:500px) {
}

@media (min-width:675px) {
}

@media (min-width:769px) {
}

@media (min-width:1025px) {
    section.gallery {
        margin: 200px 0px 0px 0px;
        .customNavigation {
            position: relative;
            margin-bottom: -20px
        }
    }

    .gallery .section-title {
        position: absolute;
        left:0;
        right:0;
        top:-140px;
    }


    #gallery {
        .owl-stage {
            margin-top:125px;
            transition: 1s transform ease-in-out;
        }

        .owl-item {
            transition: 1s transform ease-in-out;
            .item,
            .item-video {
                transition: 1s transform ease-in-out;
            }
        }

        .owl-item.center {
            position: relative;
            z-index: 1;
            transform: translate3d(0, -40px, 0);
            .item,
            .item-video {
                -webkit-transform: scale(1.2, 1.2);
                -ms-transform: scale(1.2, 1.2);
                transform: scale(1.2, 1.2);
            }
        }
    }
}

@media (min-width:1350px) {
    .gallery .section-title {
        top:-150px;
    }

    #gallery {
        .owl-item.center {
            .item,
            .item-video {
                -webkit-transform: scale(1.1, 1.1);
                -ms-transform: scale(1.1, 1.1);
                transform: scale(1.1, 1.1);
            }
        }
    }
}

@media (min-width:1600px) {
    .gallery .section-title {
        top:-170px;
    }

    #gallery {
        .owl-item.center {
            .item,
            .item-video {
                -webkit-transform: scale(1.05, 1.05);
                -ms-transform: scale(1.05, 1.05);
                transform: scale(1.05, 1.05);
            }
        }
    }
}