#gallery {
    position: relative;
    .customNavigation {
        justify-content: center;
    }

    img {
        object-fit: cover;
    }

    img,
    .owl-item .video-iframe {
        width: 100%;
        height: 250px;
    }

}


// MEDIA QUERIES 

@media (min-width:400px) {
}

@media (min-width:450px) {
}

@media (min-width:500px) {
    #gallery {
        img,
        .owl-item .video-iframe {
            width: 100%;
            height: 350px;
        }
    }

}

@media (min-width:675px) {
}

@media (min-width:769px) {
    #gallery {
        img,
        .owl-item .video-iframe {
            width: 100%;
            height: 450px;
        }
    }
}

@media (min-width:1025px) {
    section.gallery {
        margin: 200px 0px 0px 0px;
        .customNavigation {
            position: relative;
        }
    }

    .gallery .section-title {
        position: absolute;
        left:0;
        right:0;
        top:-130px;
    }


    #gallery {
        .owl-stage {
            margin-top:125px;
            transition: 1s transform ease-in-out;
        }

        .owl-item {
            transition: 1s transform ease-in-out;
        }

        .owl-item img,
        .owl-item .video-iframe  {
            height:500px;
        }
        .owl-item.center {
            position: relative;
            z-index: 1;
            transform: translate3d(0, -40px, 0);
            .item img,
            .item-video .video-iframe {
                transition: 1s transform ease-in-out;
                -webkit-transform: scale(1.2, 1.2);
                -ms-transform: scale(1.2, 1.2);
                transform: scale(1.2, 1.2);
            }
        }
    }
}

@media (min-width:1350px) {
    .gallery .section-title {
        top:-140px;
    }

    #gallery {
        .owl-item.center {
            .item img,
            .owl-item .video-iframe {
                -webkit-transform: scale(1.1, 1.1);
                -ms-transform: scale(1.1, 1.1);
                transform: scale(1.1, 1.1);
            }
        }
    }
}

@media (min-width:1600px) {
    .gallery .section-title {
        top:-175px;
    }

    #gallery {
        .owl-item.center {
            .item img,
            .owl-item .video-iframe {
                height:550px;
                -webkit-transform: scale(1.05, 1.05);
                -ms-transform: scale(1.05, 1.05);
                transform: scale(1.05, 1.05);
            }
        }
    }
}